.header {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 5em;
   background-color: #282c34;
   color: white;
   -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.75);
}

.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 3em;
   width: 100%;
   -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);
   box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.5);

   &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      padding: 10px;
   }
}

.sub-header {
   width: 100%;
   height: 2em;
   display: flex;
   flex-direction: row;


   &__tabs {
      width: 25%;
      height: 2em;
      justify-content: center;
      align-items: center;

      &:hover {
      border-bottom: 2px solid white;
      }
   }
}

.button-style {
   border-radius: 5px;
}

p {
   margin: 0;
   padding: 0;
}